page-home {
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  ion-content{background-image: url("../assets/images/graybackground.jpg");}

/* Image collage. */
.images {
  padding: 5px;

  /* Prevent vertical gaps. */
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
}

.images img {
  /* Just in case there are inline attributes. */
  width: 100% !important;
  height: auto !important;
  padding: 5px;
}
}
