page-home {
  ion-content{
  //background: color($colors, dark)!important;
  background-image: url("../assets/images/graybackground.jpg");
 }
 h1{
   text-align: center;
   font-size: 25px !important;
   color: white !important;
   font-weight: bold;
 }
 h2{
   text-align: center;
   font-size: 30px !important;
   color: black !important;
   font-style: italic;
   font-weight: bold;

 }
 h3{
   text-align: center;
   font-size: 25px !important;
   color: black !important;
   font-style: italic;
   font-weight: bold;

 }

ion-card{
 box-shadow: 4px 4px 4px black !important;
}

#ramKort{
  text-align: center;
  padding: 150px;
  -webkit-clip-path: polygon(5% 2%, 98% 5%, 97% 95%, 10% 89%);
  clip-path: polygon(5% 2%, 98% 5%, 97% 95%, 10% 89%);
}

#infokort{
  padding: 10px;
  text-align: center;
  font-size: 18px !important;
  color: black !important;
}


















}
