page-tags {
  
  .centerDiv{text-align: center !important;}

  h1{
    font-family: "Montserrat" !important;
    text-align: center;
    font-size: 25px !important;
    color: white !important;
    font-weight: bold;
  }

}
