page-tour {
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    .right {
        float: right;
    }
    ion-card {
        box-shadow: 10px 10px 10px #000000 !important;
        width: 100%;
        height: 100%;
        -webit-flex-wrap: wrap !important;
    }

    ion-content {
        background-image:url('../assets/img/concrete.jpg') !important;
        background-size: cover;
    }
    #marker-malmoe {
        position: relative!important;
        left: -350px;
        bottom: 20px;
    }

    h1 {
        margin: 0;
    }
    .header-img {
        background: url("../assets/img/skate-1.jpg") top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        display:block;
        margin:auto;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .cntr {
        text-align: center;

    }
    .align-center {
        display: flex;
        justify-content: center;
    }
    .center {
        text-align: center !important;
        font-family: 'Montserrat';
        text-transform: uppercase;
        font-weight: 500;
        color: white;

    }
    h6 {
        font-weight: 600 !important;
    }

    .bootn {
        color: #000;
        background: #FFF;
        padding: 12px 17px;
        font-family: 'OpenSansBold', sans-serif;
        border: 3px solid #FFF;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 2px;
        display: inline-block;
        text-align: center !important;
        cursor: pointer;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        transition: all ease 0.4s;
    }
    .bootn:hover {
        background: transparent;
        color: #FFF;
    }
    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 60%;
            width: 100%;
            color: #fff;
        }

    }
    .black-transparent-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    ion-card img {
        max-width: 100%;    
        background-size: cover;
        width: 100%;
        height: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    ion-card:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    //MOBILE CSS
    @media screen and (min-width: 480px) {
        ion-col {
            margin: 1% !important;
        }
        @media only screen and (max-width: 1100px) {
            h1 { font-size:100%;}
        }
        .center {
            text-align: center !important;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: 500;
            color: white;

        }
        .header-img {
            background: url("../assets/img/skate-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 50%;
            max-width: 100%;

        }
    }

}
